.container{
    margin:0 auto;
    position: relative;
}
canvas{
    border:1px solid grey;
    width:640px;
    height:431px;
}
.length-input{
    width:30px;
    height: 10px;
    position: absolute;
    font-size: 10px;
    color:black;
    border-radius: 3px;
    border:2px solid #FFDC00;
    background-color: #FFDC00;
}
.center{
    position: absolute;
    width:10px;
    height: 10px;
    background-color: red;
}
.buffor{
    position: absolute;

    border:2px dotted #FF4136;

    pointer-events:none;
}
