.canvas-container {
    margin: 0 auto;
    position: relative;
}


.canvas-length-input {
    margin-left: -20px;
    margin-top:-5px;
    padding: 2px;
    width: 40px;
    height: 10px;
    position: absolute;
    font-size: 10px;
    color: black;
    border-radius: 3px;
    border: 2px solid #FFDC00;
    background-color: white;
}


.canvas-vertex-handler {
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -4px;
    margin-top: -26px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 30px solid #FFDC00;
    cursor: pointer;
}
